/* This would be bootstrap-custom.css */

/* ----- Custom Theme ----- */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

h2 {
  font-weight: 400;
  margin-top: 0;
}

h3 {
  font-size: 20px;
}

header h1 {
  color: #66d9f7;
}

.container {
  width: 100%;
}
