{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<p>
<p><a href="/">Home</a> | <a href="/healthz">Health Check</a> | <a href="http://internal-tracebacks-jaeger-tbrown-665491515.us-east-1.elb.amazonaws.com/">Jaeger</a> | <a href="/environment">Environment Dump</a> | Error state: {{error}} </p>
<hr>
<p>
    <form id="parse-date-form">
        Parse date from Papertrail logs:<br>
        <input type="date" id="date_field" name="date_field"><br>
        <input type="submit" value="Submit" onclick="parse_date(document.getElementById('date_field').value);"/>
    </form>
</p>
<hr>
<p>
    <form id="parse-date-range-form">
        Parse date range from Papertrail logs:<br>
        <input type="date"
               id="date_field_start"
               name="date_field_start">
        <input
            type="date"
            id="date_field_end"
            name="date_field_end">
        <br>
        <input type="submit"
               value="Submit"
               onclick="parse_date_range(document.getElementById('date_field_start').value, document.getElementById('date_field_end').value);"
        />
    </form>
</p>
<hr>
<p>Num jira issues: {{ num_jira_issues }}</p>

<p>
    <form id="jira-issue-form">
        Update jira issue in database. Issue key:<br>
        <input type="text" id="issue_key" name="issue_key"><br>
        <input type="submit" value="Submit" onclick="update_jira_db(document.getElementById('issue_key').value);"/>
    </form>
    <button onclick="update_all_jira_tickets();">Update all Jira issues (async, takes a long time)</button>
</p>
<hr>
<p>Num celery tasks: {{ num_celery_tasks }}</p>
<button onclick="purge_celery_queue();">Purge celery queue</button>
<hr>
<button onclick="invalidate_cache();">Invalidate cache</button>
{%- endblock %}
