{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<p>Num jira issues: {{ num_jira_issues }}</p>

<p>
    <form id="jira-issue-form">
        Update jira issue in database. Issue key:<br>
        <input type="text" id="issue_key" name="issue_key"><br>
        <input type="submit" value="Submit" onclick="update_jira_db(document.getElementById('issue_key').value);"/>
    </form>
    <button onclick="update_all_jira_tickets();">Update all Jira issues (async, takes a long time)</button>
</p>
<br>
<p>Num celery tasks: {{ num_celery_tasks }}</p>
<button onclick="purge_celery_queue();">Purge celery queue</button>
<br>
<br>
<button onclick="invalidate_cache();">Invalidate cache</button>
{%- endblock %}
