{%- extends "bootstrap/base.html" %}

{% block title %}Tracebacks{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    {{super()}}

    {#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes #}
    {{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}  {# required for Bootstrap's style elements #}
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename='css/traceback.css')}}">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"> </script>
    <script src="{{ url_for('static', filename='/javascript/traceback.js') }}"></script>
{% endblock %}
