{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% macro show_traceback(t) %}
<div class="traceback-container">
    <div class="traceback-metadata col-md-3">
        <p>Instances <button onclick="hide_traceback_text(this)" value="{{ t.traceback.traceback_text }}">hide all</button>
            <ul>
                {% for similar_traceback in t.similar_tracebacks %}
                <li
                    {% if t.traceback.origin_papertrail_id == similar_traceback.origin_papertrail_id %}
                    class="highlight"
                    {% endif %}
                >
                    <a href="https://papertrailapp.com/systems/{{ similar_traceback.instance_id }}/events?focus={{ similar_traceback.origin_papertrail_id }}">{{ similar_traceback.origin_timestamp }}</a>
                </li>
                {% endfor %}
            </ul>
        </p>
    </div>
    <div class="traceback-text col-md-9">
        <pre class="prettyprint code">{{ t.traceback.traceback_plus_context_text }}</pre>
    </div>
</div>
{% endmacro %}

{% block navbar %}
<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">
            <img src="/static/media/wordy.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Tracebacks
        </a>
        <ul class="pager">
            <li><a href="/?days_ago={{ days_ago + 1 }}">Previous</a></li>
            <li>{{ date_to_analyze }}</li>
            <li><a href="/?days_ago={{ days_ago - 1 }}">Next</a></li>
            <li><a href="/">Today</a></li>
        </ul>
        {% if show_restore_button %}
        <button onclick="restore_all()">Restore all hidden Tracebacks</button>
        {% endif %}
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
            <div class="row">
                <div class="col-md-12">
                    {{utils.flashed_messages(messages)}}
                </div>
            </div>
        {%- endif %}
    {%- endwith %}

    <body>
        <div class="container">
            <div class="row">
                {% for t in tb_meta %}
                    {{ show_traceback(t) }}
                    <div class="clearfix"></div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </body>
</div>
{%- endblock %}
