{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% macro show_traceback(t) %}
<div class="traceback-container">
    <div class="traceback-metadata col-md-3">
        <p>{{ t.traceback.origin_timestamp }}<br>
            <a href="https://papertrailapp.com/systems/{{ t.traceback.instance_id }}/events?focus={{ t.traceback.origin_papertrail_id }}">Papertrail log</a></p>
        <p>Similar tracebacks
            <ul>
                {% for similar in t.similar_tracebacks %}
                <li>
                    <a href="https://papertrailapp.com/systems/{{ similar.traceback.instance_id }}/events?focus={{ similar.traceback.origin_papertrail_id }}">{{ similar.traceback.origin_timestamp }}</a>
                </li>
                {% endfor %}
            </ul>
        </p>
    </div>
    <div class="traceback-text col-md-9">
        <pre class="prettyprint code">{{ t.traceback.traceback_text }}</pre>
    </div>
</div>
{% endmacro %}

{% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
            <div class="row">
                <div class="col-md-12">
                    {{utils.flashed_messages(messages)}}
                </div>
            </div>
        {%- endif %}
    {%- endwith %}

    <header>
        <div class="left-header col-md-3">
        </div>
        <div class="right-header col-md-9">
            <h1>Tracebacks</h1>
        </div>
    </header>

    <body>
        <div class="container">
            <div class="row">
                {% for t in tb_meta %}
                    {{ show_traceback(t) }}
                    <div class="clearfix"></div>
                {% endfor %}
            </div>
        </div>
    </body>
</div>
{%- endblock %}
