<main class="container" role="main">

<section *ngFor="let traceback of tracebacks" >
  <div class="traceback-container">
    <div class="traceback-metadata col-md-3">
      <p>{{traceback.origin_timestamp}}<br>
      <a href="https://papertrailapp.com/systems/{{traceback.instance_id}}/events?focus={{traceback.origin_papertrail_id}}">Papertrail logs</a></p>
    </div>
    <div class="traceback-text col-md-9">
      <pre class="prettyprint"><code class="language-py">{{traceback.text}}</code></pre>
    </div>
  </div>
</section>
</main>
