Flask-Elasticsearch==0.2.5
Flask-KVSession==0.6.2
Gunicorn==19.6
boto3==1.4.0
celery[redis]==4.0.2
certifi
dogpile.cache==0.6.2
flask-bootstrap==3.3.7.1
flask==0.11.1
gevent==1.1.2
jira==1.0.10
pytz
redis==2.10.5
simplejson==3.10.0
requests==2.7.0
